html(lang='en')

  title redirect
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
  script(type='module' src='/js/app.js')

  body
    div Generate playlist of month: 
    span#month #{month}
    br
    br
    br
    p#token #{token}
    p#refreshToken(style="display:none;") #{refreshToken}
    script.
      // Store tokens in localStorage on page load
      const accessToken = document.getElementById('token').innerText;
      const refreshToken = document.getElementById('refreshToken').innerText;
      localStorage.setItem('access_token', accessToken);
      localStorage.setItem('refresh_token', refreshToken);
    