html(lang='en')

  title redirect
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
  script(type='module' src='/js/app.js')

  body
    div Generate playlist of month: 
    span#month #{month}
    br
    br
    br
    p#token #{token}
    